<h1><%= @cocktail.name %></h1>
<%= link_to 'Home', cocktails_path %>

<hr>

<% @cocktail.doses.each do |dose| %>
<ul>
  <li> <%= dose.description %> <%= dose.ingredient.name %></li>
</ul>
<% end  %>

<h3><%= link_to 'Create a dose', new_cocktail_dose_path(@cocktail) %></h3>
<hr>

<%= link_to "Delete", cocktail_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

