<section class="add-cocktail">
  <div class="hero">
    <h1>Create a dose</h1>
  </div>

  <div class="cocktail-list">
    <%= simple_form_for [@cocktail, @dose] do |f| %>

    <% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add Description", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>









