<!DOCTYPE html>
<html>
<head>
  <title>RailsMisterCocktail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <main class="cd-main">

    <%= render 'layouts/partials/navbar' %>

    <%= yield %>


    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'main' %>
    <%= javascript_include_tag 'pages' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= javascript_include_tag 'jquery-2.1.1' %>
  </main>
</body>
</html>
